# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# Rider
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
TestResult.xml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# Chutzpah
_chutzpah*

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JetBrains
*.sln.iml

# Code Coverage
*.coverage
*.coveragexml
coverage*.json
coverage*.xml
coverage/

# Others
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Azure
csx/
*.build.csdef

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Node (for any frontend tooling)
node_modules/

# Secrets
*.pfx
*.publishsettings
appsettings.*.json
!appsettings.json
!appsettings.Development.json
